{{!-- Main Index --}}
<div>
    <h1>Here is the Latest Movie News!!</h1>
</div>

<div class= "row" >
    <div class="col m6" id="articles">
        <div class="card new-movie-news red darken-4" id="card-articles">
            <div class="card-image">
                <img src="" >
                <h5 class="card-title"></h5>
                <div class="card-content">
                    <p class="card-text" data-id=""></p><br>
                </div>
                <div class="card-action">
                    <a href="https://screenrant.com/"></a>     
                </div>
            </div>   
        </div>

    </div>

    <div class="col-4" id="notes">
    </div>
</div>